@keyframes fadeAppear {
  from {
    opacity: var(--appear-from, 0);
  }
  to: {
    opacity: var(--appear-to, 1);
  }
}

.fade-appear {
  animation-name: fadeAppear;
  animation-delay: var(--appear-delay, 0ms);
  animation-duration: var(--appear-duration, 150ms);
  animation-iteration-count: var(--appear-flash, 1);
  animation-timing-function: var(--appear-ease, cubic-bezier(0.4, 0, 0.2, 1));
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite !important;
}
