@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color-scheme: light;
  --scrollbar-width: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* lock html scroll */
body{
  @apply max-h-screen overflow-y-auto pb-42 md:pb-0;
}

:root[data-app-loading] body{
  @apply overflow-y-hidden
}

/* add mx-auto to all classes with max-w-7xl */
.max-w-7xl {
  margin: 0 auto;
}

@keyframes fadeAppear {
  from {
    opacity: var(--appear-from, 0);
  }
  to: {
    opacity: var(--appear-to, 1);
  }
}

.fade-appear {
  animation-name: fadeAppear;
  animation-delay: var(--appear-delay, 0ms);
  animation-duration: var(--appear-duration, 150ms);
  animation-iteration-count: var(--appear-flash, 1);
  animation-timing-function: var(--appear-ease, cubic-bezier(0.4, 0, 0.2, 1));
}


::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: #EAECF0;
  border-radius: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #98A2B3;
}

